# Ambientes virtuais
.venv/
__pycache__/
*.py[cod]

# Docker
.env

# Projetos (Ignora tudo dentro de projects, exceto a pasta e o HelloWorld)
projects/*
!projects/hello-world/

# Logs e arquivos temporários
*.log
